<!-- MOBILE MENU -->
@if (isShowingMobileMenu) {
    <div class="absolute z-50 w-full flex sm:hidden flex-col items-center px-3 py-2 bg-white shadow-xl">
        <button class="text-3xl text-bold text-[32px] self-end" (click)="closeMobileMenu()">
            <fa-icon [icon]="faXmark" class="text-black"></fa-icon>
        </button>
        <nav class="flex flex-col mt-8 gap-3 w-full">
            <a href="#" class="text-gray-500 font-medium hover:text-black hover:bg-gray-100 p-3 rounded-lg duration-300">Menu 1</a>
            <a href="#" class="text-gray-500 font-medium hover:text-black hover:bg-gray-100 p-3 rounded-lg duration-300">Menu 2</a>
            <a href="#" class="text-gray-500 font-medium hover:text-black hover:bg-gray-100 p-3 rounded-lg duration-300">Menu 3</a>
            <a href="#" class="text-gray-500 font-medium hover:text-black hover:bg-gray-100 p-3 rounded-lg duration-300">Menu 4</a>
        </nav>
    </div>
}
<!-- END MOBILE MENU -->

<!-- HEADER -->
<header class="bg-white w-full py-5 px-3 flex flex-row items-center justify-between">
    <div id="search-bar" class="flex items-center bg-slate-100 px-3 py-2 w-full max-w-xs lg:max-w-[50%] rounded-lg lg:mr-8">
        <fa-icon [icon]="faSearch" class="text-gray-500 text-[16px]"></fa-icon>
        <input 
            type="text" 
            class="w-full bg-slate-100 px-2 outline-none"
            placeholder="Search something"
        />
    </div>

    <div class="flex gap-3 items-center">
        <a href="#" class="w-8 h-8 p-5 bg-slate-200 hidden sm:flex items-center justify-center rounded-full">
            <fa-icon [icon]="faHeart" class="text-gray-500 text-[16px]"></fa-icon>
        </a>
        <button class="bg-rose-500 hover:bg-rose-600 text-[16px] duration-300 text-white flex items-center justify-center gap-2 px-4 py-2 rounded font-medium">
            <span class="hidden md:flex">Sing In</span>
            <fa-icon [icon]="faUser" class="text-[16px] md:ml-1"></fa-icon>
        </button>
        <button class="sm:hidden flex items-center justify-center px-4 py-2" (click)="showMobileMenu()">
            <fa-icon [icon]="faBars" class="text-[24px] md:ml-1"></fa-icon>
        </button>
    </div>
</header>
<!-- END HEADER -->